#AC {   
    background-color: brown;
    grid-area: AC;
    width: 210px;
 }
 #divide{ 
    grid-area: divide;
    background-color: rgb(161, 161, 161);
 }
 #multiply{
    grid-area: multiply;
    background-color: rgb(161, 161, 161);
 }
 #seven{
    grid-area: seven;
 }
 #eigth{
    grid-area: eigth;
 }
 #nine{
    grid-area:nine ;
 }
 #minus{
    grid-area:minus ;
    background-color: rgb(161, 161, 161);
 }
 #four{
    grid-area:four ;
 }
 #five{
    grid-area: five ;
 }
 #six{
    grid-area: six ;
 }
 #plus{
    grid-area: plus ;
    background-color: rgb(161, 161, 161);
 }
 #one{
    grid-area: one ;
 }
 #two{
    grid-area: two ;
 }
 #three{
    grid-area: three ;
 }
 #equals{
    grid-area: equals ; 
    height: 210px;
    background-color: rgb(47, 45, 119);
}
 #zero{
    grid-area: zero ;
    width: 210px;
 }
 #dow{
    grid-area: dow;
 }
.keyboard__wrapper{
   font-family: 'digital-clock-font';
    display: grid;
    grid-template: 
    'AC AC divide multiply'
    'seven eigth nine minus'
    'four five six plus'
    'one two three equals'
    'zero zero dow equals'
    ;
}

    